*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static
/templates
.ropeproject
*.bak
run_ctags.sh
node_modules
migration
css
*.log
*.json
media
*.swp
link_mp.sh
tag
.idea
migrations
*db.sqlite*
files/products*
*csv*
*.jpeg
product_list
